* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  /* background-image: url(); */
}

:root {
  --color-bg: #00182e;
  --color-bg-variant: #2c63b0;
  --color-primary: rgb(255, 217, 102);
  --color-secundary: #f24b6a;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;

  /*--- neumorphism effect ---*/
  --neu-blue-outset: -8px -8px 15px #000e1c, 8px 8px 15px #002240;
  --neu-blue-inset: inset -8px -8px 15px #000e1c, inset 8px 8px 15px #002240;

  /*--- Card Colors ---*/
  --card-purple: #5a0e5c;
  --card-lightPurple: #820be6;
  --card-fucsia: #d3269f;
  --card-lightFucsia: #fe7fd8;
  --card-red: #e6160b;
  --card-lightRed: #f24b6a;
  --card-cyan: #1fcecb;
  --card-darkCyan: #217d77;
  --card-yellow: #ffda66;
  --card-lightYellow: #ffecb3;
  --card-green: #51b05e;
  --card-lightGreen: #7fe38d;
  --card-blue: #2c63b0;
  --card-lightBlue: #3e8cfa;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/*--- GENERAL STYLES ---*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

/*--- MEDIA QUERIES (MEDIUM DEVICES) ---*/
@media screen and (max-width: 1024px) {
}

/*--- MEDIA QUERIES (SMALL DEVICES) ---*/
@media screen and (max-width: 600px) {
}
