.introContainer {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.introTitle {
  margin: 30px 0;
  text-align: center;
  font-size: 5rem;
  color: var(--color-white);
  text-shadow: 0 0 10px var(--color-white);
}

.introSubTitle {
  color: var(--color-primary);
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.btnContainer {
  flex-flow: wrap column;
  align-items: center;
}

.input-playerName {
  width: 200px;
  height: 25px;
  margin: 30px 0;
  outline: none;
  border: transparent;
  background-color: transparent;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
  text-align: center;
}

.btn-playerName {
  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  border: transparent;
  color: var(--color-light);
  transition: var(--transition);

  border-radius: 40px;
  background: #00182e;
  box-shadow: var(--neu-blue-outset);
}

.btn-playerName:hover {
  color: #7fe38d;
}

.btn-playerName:active {
  border-radius: 40px;
  box-shadow: var(--neu-blue-inset);
}
